@tailwind base;
@tailwind components;
@tailwind utilities;

.entry {
  @apply flex justify-center text-nord6 p-2 mb-6;
  
  & .inner {
    @apply w-40 h-44 p-4 hover:bg-nord4/10 rounded-xl text-center flex flex-col items-center justify-between;
  }
}